@charset "UTF-8";
#title{text-align: center; width:100%;}

hr{
	width:90%;
}

h2{	
font-size:20px;
text-indent: 10px;
}

/* form{
max-width:620px;
border:1px solid lightgray;
border-radius:10px;
top:30px;
left:150px;
padding:50px;
}
 */
/* 폼 */
ul#autoComplete{
	background-color: white; 
	min-width: 175px; 
	border: 1px solid gray; 
	position: absolute; 
	top: 100px; 
	left:200px; 
	padding:0; 
	margin:0; 
	z-index:1;
}

/*영화명span  */
.input-group-prepend span{
top:-1px;
left: -5px;
border:1px solid gray;
background-color:lightgray;
padding: 10px;	
border-radius: 3px;
}

/*영화제목  */
#srchMovie{
	top:-28px;
	left:65px;
	width:470px;
	height:25px;
}

/*영화적용버튼  */
#application{
border: 1px solid #35256b; 
background-color: #261049; 
border-radius: 3px;
color: white; 
top:-32px;
left:70px;
width:75px;
height:35px;
font-size:12px;
}

/*회차  */
#showTurn{
top:-30px;
left:65px;
width:470px;
height:26px;
}

/*영화코드  */
#screenCode{
top:-30px;
left:67px;
width:100px;
height:38px;
}

/*상영시간  */
#startTime{
top:-30px;
left:80px;
}

/*상영시간  */
#endTime{
top:-30px;
left:80px;	
}

/*~라벨  */
#stet{
top:-35px;
left:80px;		
}

/*날짜 */
#showDate{
top:-30px;
left:55px;	
}

/*등록버튼 */
#enroll{
	left:20px;
	top:30px;
}
/*삭제버튼  */
#delete{
	left:20px;
	top:30px;
}
ul#autoComplete li{padding:0 10px; list-style:none; cursor:pointer; z-index:2;}
ul#autoComplete li.sel{background: rgb(53, 37, 107); color:white;}
span.srchval{color:red;}

