/* admin header */

.section-mypage-top {
    width: 100%;
    height: 250px;
    background: #0a0a0a;
}
.mypage-top-left{
    padding-top: 85px;
    float: left;
    padding-left: 120px;
    color: #fff;
    letter-spacing: -.05em;
}
.mypage-top-left .mypage-id {
display: block;
font-size: 42px;
line-height: 1em;
padding-top: 5px;
}
.mypage-top-left .mypage-id>span{
    font-weight: 400;
    opacity: .6;
    padding-left: 10px;
}
.mypoint{
    color: white;
    padding-top: 20px;
}
.mypoint p{
    display: inline-block;
}
.mypoint a.small {
    display: inline-block;
    border: 1px solid #fff;
    font-size: 13px;
    opacity: .4;
    -webkit-filter: alpah(opacity=40);
    filter: alpah(opacity=40);
    line-height: 22px;
    padding: 0 7px;
    vertical-align: middle;
    margin-left: 8px;
    color: gray;
}
.inner-wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.page-mytving .sub-contents-wrap {
    padding: 20px 0 50px;
    width: 1200px;
    margin: auto 0;
}

tab_type01 {
    border-bottom: 1px solid #383838;
    line-height: 3.8125rem;
    text-align: center;
}
 .tab_type01 ul {
    list-style-type: none;
}
 .tab_type01 li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
.tab_type01 li>a {
    display: block;
    padding: 0 .625rem;
    color: #4d4747;
    font-weight: 300;
}
.tab_type01 li, .tab_type01 li>a {
    font-size: 1rem;
    position: relative;
}

.tab_type01 a {
    color: rgb(3, 1, 1);
    text-decoration: none;
}


/* mypage body */
section#content-mypage {
	min-height: 500px;
}
.inner-wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}


tab_type02 
 	
 	   .tab_type02  ul {
	list-style-type: none;
}

.tab_type02  li {
	display: inline-block;
	text-align: -webkit-match-parent;
}

a {
	color: rgb(3, 1, 1);
	text-decoration: none;
}

.tab-second-block {
	margin: 35px 0 17px;
	min-height: 26px;
	position: relative;
	border-bottom: 1px solid black;
}

.tab_type02 {
	line-height: 1em;
	position: relative;
	z-index: 10;
	display: inline-block;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid #bcbcbc;
}





@charset "UTF-8";

/* common 회원상세정보보기*/
section#content-member {
	min-height: 500px;
}
h2 {
	padding-left: 50px;
	font-size: 25px;
}


div.title {
	width: 100%;
	text-align: center;
	
}
hr {
	width: 90%;
	display: inline-block;
}

div#loginFrm {
	width: 100%;
	margin: auto;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
form#loginForm {
}
form#loginForm input {
    height: 30px;
    width: 300px;
    border-radius: 5px;
}
form#loginForm input.button {
    width: 70px;
    height: 75px;
    border-radius: 3px;
}
input#saveId {
	width: 20px;
	padding: 0px;
	float: left;
}

@media ( max-width: 800px ) {
	div#loginFrm {
		width: auto;
	}
}


/* memberEnroll 회원가입부분 */
div#enrollFrm {
	width: 100%;
	margin: auto;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
form#enrollForm p {
	padding-top: 10px;
	padding-bottom: 10px;
}
form#enrollForm input, select {
    height: 28px;
    border-radius: 4px;
}


#search-container{
    position:absolute;
    top:4%; left:50%;
    transform: translate(-50%, -50%);
}

#search-container searchType{
 position:absolute;
    top:5%; left:50%;
    transform: translate(-50%, -50%)
}

#search-container label{
/*검색타입: 폰트 사이즈*/
font-size:15px;
}
#memberList-container {
	padding-left:5%;
	padding-right:5%;
	position: relative;
	min-height: 500px;
}
#search-memberId {display: inline-block;}
#search-memberName {display: none;}
#search-memberEmail {display: none;}
#search-memberPhone {display: none;}
#search-memberGender {display: none;}
#search-memberAge {display: none;}
#search-memberPoint {display: none;}


#srch {
	top:5px;
	height: 18px;
	
}
/* div.pageBar{
    padding-top:15px; 
    text-align:center;
}
ul.pageBar_list { 
    list-style: none;
    float: center;
    text-align: center;
}
ul.pageBar_list>li {
    padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:4px; 
}
ul.pageBar_list>li>a {     
    color: lightgry;
}
span.cPage{ 
    color: black;
} */

div#pageBar{
	
	 padding-top:15px; !
    text-align:center;
    background-color: #ff000000; !important;
}
 
 div#pageBar a{
   padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:1px; 
 }
 
div#pageBar span.cPage{
	color: black;
	padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:1px; 
}

div#pageBar a{
	margin-right: 10px;
}

table#tbl-member {
  text-align: center;
  
  line-height: 1.5;
  border-style: dotted;
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc; 
  margin: 20px 10px;
}

 table#tbl-member thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background-color:  #383838;
    margin: 20px 10px;
    font-size:13px;
}
table#tbl-member tbody th {
    width: 150px;
    padding: 10px;
}
table#tbl-member td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    font-size:12px;
}
table#tbl-member .even {
    background: #fdf3f5;
}

#ptest{
	position:relative;


top:-30px;
left:230px;	
margin-bottom: -100px; 
}



/*회원상세정보보기  */
/*하은 수정0102일 22시부터*/
form [type=text]#lastName{
    width: 110px;
}
/*하은 수정0102일22시부터*/
form [type=text]#firstName{
    width: 175px;
}
/*하은 수정0102일22시부터*/
form [type=text]#memberId{
    width: 313px;
}
/*하은 수정0102일22시부터*/
form [type=password]#password{
    width: 313px;
}
/*하은 수정0102일22시부터*/
form [type=password]#pwdChk{
    width: 313px;
}
/*하은 수정0102일22시부터*/
form [type=text]#email{
    width: 150px;
}
/*하은 수정0102일22시부터*/
select#emailAdd {
    margin-top:-10px;
    width: 140px;
    height: 38px;
}
/*하은 수정0102일18시부터*/
form [type=tel]#phone1{
    width: 80px;
    text-align: center;
}
/*하은 수정0102일22시부터*/
form [type=tel]#phone2{
    width: 90px;
    text-align: center;
}
/*하은 수정0102일22시부터*/
form [type=tel]#phone3{
    width: 90px;
    text-align: center;
}
/*하은 수정0102일22시부터*/
/*회원가입  */


form#enrollForm [type=submit] {
    margin-top:20px;
    border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    padding: 5px; 
    margin-left:-1px;
    width:105px;
    height:50px;
    font-size:12px;
}
/*하은 수정0102일18시부터*/
form#enrollForm [type=submit]:hover{ 
    color:#white; 
    background-color: 
    black; }
    
/*하은 수정0102일18시부터*/

form#enrollForm [type=button] {
  margin-top:20px;
    border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    padding: 5px; 
    margin-left:-1px;
    width:105px;
    height:50px;
    font-size:12px;
 
}


form#enrollForm [type=reset]{
	  margin-top:20px;
    border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    padding: 5px; 
    margin-left:-1px;
    width:105px;
    height:50px;
    font-size:12px;
	
}
/*하은 수정0102일18시부터*/
div#enrollFrm input,select{
    border: 0.5px solid #35256b; 
}
/*하은 수정0102일22시부터*/
#p_border{
border-bottom:1px solid #35256b;
width: 320px; 
margin-top:-40px;
margin-bottom: 15px;
}
/*하은 수정0102일22시부터*/
#p_border_left{
    border-left: 5px solid #35256b;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent:10px
}
/*하은 추가0102일22시부터*/
#p_border_gender{
border-left: 5px solid #35256b;
    text-indent:10px;
}

div.form-check form-check-inline {
    margin-left: 10px; padding-left : 10px;
    left: 10px;
    padding-left: 10px;
}

input[type=checkbox] {  
    display: none;  
}

input[type=checkbox] + label{
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px;
}
/*하은수정  */
input[type=checkbox]+ label:before {     
    content: "";  
    display: inline-block;  
    width: 20px;  
    height: 20px;  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #ccc;  
    border-radius: 2px; 
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}
/*하은수정  */
input[type=checkbox]:checked + label:before { 
    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 18px; 
    font-weight:800; 
    color: #fff;  
    background:#2f87c1;
    text-align: center;  
    line-height: 18px;  
}

#point{
	left:10px;
	width:260px;
}

