@charset "UTF-8";

#searchType{
	z-index:1;
	top:50px;

	left:100px;

}

button[type=submit]{
	
	z-index:1;
	top:43px;
	left:105px;
	border-radius:3px;
	border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    margin-top:15px;
    margin-left:-1px;
    width:75px;
    height:30px;
    font-size:12px;
}