@charset "UTF-8";
.tab_type01 {
    border-bottom: 1px solid #383838;
    line-height: 3.8125rem;
    text-align: center;
}
.tab_type01 ul {
    list-style-type: none;
}
.tab_type01 li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
.tab_type01 li>a {
    display: block;
    padding: 0 .625rem;
    color: #4d4747;
    font-weight: 300;
}
.tab_type01 li, .tab_type01 li>a {
    font-size: 1rem;
    position: relative;
}
.tab_type01 a {
    color: rgb(3, 1, 1);
    text-decoration: none;
}
/* common */
button {
    cursor: pointer;
}
/* notice css */
section#content-notice {
    min-height: 900px;
}
div.notice_list {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
}
table.tbl_notice {
    margin: 0px auto;
    width: 950px;
    border-top: 2px solid #503396;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}
/*  */
table.tbl_cs{
    
        margin: 0px auto;
    width: 950px;
    border-top: 2px solid #503396;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}
table.tbl_notice tr  {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
/*  */
table.tbl_cs tr {
      display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
table.tbl_notice tr th  {
    background-color: #f8f8f9;
}
/*  */
table.tbl_cs tr th {
        background-color: #f8f8f9;
}
table.tbl_notice tr th, table.tbl_notice tr td {
    font-size: 12px;
    height: 38px;
    color: #666;
    border-bottom: 1px solid #d9d9d9;
}
/*  */
table.tbl_cs tr th, table.tbl_cs tr td{
       font-size: 12px;
    height: 38px;
    color: #666;
    border-bottom: 1px solid #d9d9d9;
    
}
.notice_list>table tr td a {
    text-decoration: none;
    color: #666;
}
.notice_list>table tr td a:hover {
    text-decoration: underline;
    color: #503396;
}
 /* 페이지바 관련 하은수정 시작 -----------------  */
 div.pageBar{
    padding-top:15px; 
    text-align:center;
}
ul.pageBar_list { 
    list-style: none;
    float: center;
    text-align: center;
}
ul.pageBar_list>li {
    padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:4px; 
}
ul.pageBar_list>li>a {     
    color: lightgry;
}
span.cPage{ 
    color: black;
}
ul.pageBar_list>li>a:hover {
/* background: transparent; */
/*  background-color: lightgray; */
color:tomato;
}
/* ul.pageBar_list>li>a:checked {
    background-color:red;
} */
/*하은수정 -----------------끝  */
/* noticeView css */
section#content-noticeView {
    min-height: 500px;
}
/*문의하기  */
section#content-customerService_form{
    min-height: 500px;
}
div#container-customerServiceView{
box-sizing: border-box;
display: block;
font-size: 14px;
line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕',
    '맑은 고딕','Malgun Gothic','돋움',
    dotum,'Apple SD Gothic Neo',sans-serif; 
}
div#container-noticeView {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕',
    '맑은 고딕','Malgun Gothic','돋움',
    dotum,'Apple SD Gothic Neo',sans-serif; 
}
h2 {
    font-weight: 700;
    font-family: '나눔고딕','NanumGothic','맑은 고딕',
    'Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
    line-height: 1.1;
    color: inherit;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
span.sub_title {
    background-position: 0 -100px;
    display: block;
    overflow: hidden;
    font-size: 20px;
    width: 100%;
    margin: 30px 0 30px 0;
    padding-left: 10px;
}
/*fqa  */
table.tbl_notice.view tr td {
    padding: 1px 1px 1px 20px;
}
/*1:1  */
table.tbl_cs form{
    padding: 1px 1px 1px 20px;
}
div.div_contents {
    margin: 0 10.2px 0 10.2px;
    min-height: 200px;
    padding: 30px 50px 120px 110px;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}
input [type=button]{
 height: 25px;
 background-color:#544291;
 color: white;
 border: 0px;
}
button.btn_tolist {
 width: 50px;
 height: 25px;
 background-color:#544291;
 color: white;
 border: 0px;
}
/* noticeForm css */
section#content-noticeForm {
    min-height: 500px;
}
div#container-noticeForm {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif; 
}
div.div_contents.form {
    padding: 30px 20px 30px 30px;
    text-align: center;
}
table.tbl_notice.form tr td {
    padding: 1px 20px 1px 20px;
}
textarea{
    left:30px;
    width:700px;
}
input#noticeTitle { 
    position: absolute;
    margin-left:10px;
    width: 500px;
    height: 20px;
}
input#faqType{
    position: absolute;
    margin-top:10px;
    width: 10px;
    height: 20px;
}
input#faqTitle{
    position: relative;
    margin-top:10px;
    width: 480px;
    height: 20px;
    
}
input#faqCode{
    position: relative;
    margin-top:10px;
    width: 80px;
    height: 20px;
}
/*1:1  */
input#memberId{
position: relative;
margin-top:5px;
 width: 120px;
height: 20px;
left:-40px;
top:3px;
}
select#boardType{
height: 30px;
left:-35px;
top:1px;
}
input#boardTitle{   
    position: relative;
    margin-top:10px;
    width: 435px;
    height: 20px;
    top:1px;
left:-30px;
}
#boardContent{
    top:10px;
}
.form-control-file{
    left:-190px;
}
select#noticeType {
    height: 30px;
}
/* faq css */
section#content-faq {
    min-height: 500px;
}
div#center_faq {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
    border-bottom: 1px solid #d2d2d2;
    /* margin: 49px 0 0 0; */
}
div.header {
    overflow: hidden;
    border-top: 2px solid #503396;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d9d9d9;
    height: 45px;
}
div.header>span, div.panel>a>span {
    height: 46px;
    line-height: 46px;
    float: left;
    font-weight: 700;
    font-size: 13px;
}
div.header>span.hd1, div.panel>a>span.hd1 {
    width: 64px;
    text-align: center;
}
div.header>span.hd2, div.panel>a>span.hd2 {
    width: 163px;
}
div.header>span.hd3, div.header>a>span.hd3 {
    width: 620px;
    text-align: center;
}
div.panel {
    margin: 0 !important;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0,0,0,0.05);
    border: none;
    overflow: visible;
    background-color: #ffffff;
}
div.panel>a {
    text-decoration: none;
    color: #333;
    height: 45px;
    display: block;
    border-bottom: 1px solid #d9d9d9;
    height: 46px;
    line-height: 46px;
    color: #333;
    font-size: 12px;
    overflow: hidden;
}
div.panel>a>span.hd1 {
    font-weight: 500;
    font-size: 15px;
    color: #503396;
}
div.panel>a>span.hd2 {
    font-weight: 500;
}
div.panel>a>span.hd3 {
    width: 630px;
    font-weight: 500;
}
div.panel>a>button.btn_delete_faq {
    /* margin-left: 300px; */
}
/* div.panel>a:hover div.panel>a>span.hd3 {
    font-weight: 700;
    color: #503396;
} */
div.panel>div.faq_body {
    min-height: 100px;
    display: none;
    
}
div.panel>div.faq_body>div.faq_body2 {
    padding: 30px;
    padding-left: 227px;
    color: #737373;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
    
}
/* faq update form */
section#content-faq_update_form {
    min-height: 500px;
}
/* 게시글수정 */
span#fname {
    position: absolute;
    left: 96px;
    top: 7px;
    width: 200px;
    background: #ffffff;
}
#delFileChk+label {
    font-size: .8em;
    position: relative;
    top: -3px;
}
div.comment-container #btn-insert {
    width:60px; 
    height:50px; 
    color:white; 
    background:#3300ff; 
    position:relative; 
    top:-20px;
}
/* customer service*/
section#content-customerService {
    min-height: 900px;
}
section#content-customerService_form{
    
    min-height: 500px;
}
div#center_customerService {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif;
    border-bottom: 1px solid #d2d2d2;
    /* margin: 49px 0 0 0; */
}
button#add-customerService{
    position: relative;
    top:200px;
    left: 850px;
    background-color: #544291;
    color: white;
    border: 0px;
    width: 90px;
    height: 30px;    
}
/*customerService Form*/
#content-customerService_form{
    width:100%;
    margin: auto;
    text-align: center;
    
}
/*1:1문의 폼선택자  */
/* #content-form{
    display: inline-block;
    min-height: 500px;
    width:60%;
    margin-top:50px;
    justify-content: center;
    align-items: center;
}
 */
/*1:1폼라벨  */
/* #content-form .labels{
    float: left;    
} */
/*customerServiceView.css*/
#content-CSView{
    min-height: 500px;
}
 #container-CSView{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif; 
 }
 
/*updateCustomerService css*/
#fname{
    position: absolute;
    left: 90px;
    top: -30px;
    background: white;
    width: 700px;
    text-align: left;
}
#delFileChk+label{
    font-size: .8em;
    position: relative;
    top: -3px;
}
#file-wrap{
    text-align: left;
}
/*customerservice view comment*/
#content-CsComment{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    width: 970px;
    max-width: 970px;
    min-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 100%;
    font-family: 'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif; 
}
#cscomment, #cscomment_area{
    width: 100%;
}
cc-selector-2{ 
 
    text-align: center; 
 
} 
 
 
label { 
 
    display: inline-block; 
 
    margin:auto; 
 
    font-size: .85em; 
 
    background-color:buttonface; 
 
} 
 
 
input { 
 
    margin: 0; 
 
}
p{
    position: relative;
}
/*하은 버튼 수정 묶음  */
#btn-add{
    position: relative;
    top: 0px;
    left: 1070px;
    background-color: #544291;
    color: white;
    border: 0px;
    width: 90px;
    height: 30px;
}
button.btn_on{
    position: relative;
    top: 0px;
    left: 1070px;
    background-color: #544291;
    color: white;
    border: 0px;
    width: 90px;
    height: 30px;   
}
.btn_update_faq{
    background-color: #544291;
    color: white;
    border: 0px;
}
.btn_delete_faq{
    background-color: #f26a4b;
    color: white;
    border: 0px;
}
form [type=submit]{
background-color: #544291;
left:40px;
    color: white;
    border: 0px;    
}
form [type=reset]{
background-color: #885cc5;
left:40px;
    color: white;
    border: 0px;    
}
.div_contents [type=text]{
    background-color: #f26a4b;
    color: white;
    border: 0px;
}
/*아래버튼  */
 #btn-add-movie{
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    left:340px;
    cursor: pointer;
    color: #333333;
/*     text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
 
} 