@charset "UTF-8";

*{margin: 0; padding: 0;}

section#content-boxOffice{min-height: 1300px; width: 1400px; margin: 0px auto;}
div#menuLine{ border-bottom: 3.3px solid #35256B;height: 40px;}
div#movieList {min-height: 900px; width: 1400px; margin: 0 auto;}
ul#movieMenu{text-align: center; position: relative; top: 10px;}
ul#movieMenu li{list-style: none; display: inline-block; padding: 0 100px;}
ul#movieMenu li a{float: left; text-decoration: none; color: rgb(87, 85, 85); font-weight: bold;}
ul#movieMenu #m1{color: #35256B;}
ul#movieMenu a:hover{color: #35256B;}

ul#orderMenu{text-align: right; position: relative; top: 30px;}
ul#orderMenu li{ list-style: none; display: inline-block;}
ul#orderMenu li a{ text-decoration: none; color: rgb(87, 85, 85); font-weight: bold;}
/* ul#orderMenu a#orderTicketing{} */
ul#orderMenu a:hover{color: #35256B;}
li#order_2{margin-right: 100px;}
ul#orderMenu li:not(:last-of-type)::after {padding: 0 10px;}
#orderMenu-wrap{
	margin-bottom: 30px;
}

#add-movie{
	border: 1px solid #35256B; 
background-color: #35256B; 
border-radius: 3px;
color: white; 
left:10px;
width:100px;
height:35px;
font-size:12px;
}

#add-movie:hover{ 
    color:#white; 
    border: 1px solid black;
    background-color: 
    black; 
}

.heart{
	position: relative;
    top: 120px;
    left: -45px;
	
}

.notHeart{
	visibility: hidden;
}


div.ranking_box{
    background-color: #35256B;
    width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px 5px;
    font-size: 20px;
}
div.moviePoster{margin-top: 80px; display: inline-block; position: relative; margin-left: 30px}
img.poster{width: 200px; margin-top: 10px; margin-left: 130px; margin-bottom: 10px;/* position: relative; */}
img.poster:hover{filter: brightness(50%); cursor: pointer;}
div.ranking_box, .title, .runningtime, .date, .grade, .like{margin-left: 140px; margin-bottom: 2px;}

.movieRating{width: 30px;}
.title{font-weight: bold; font-size: 20px;}

button.add-movie{
	
	left: 130px;
    width: 130px;
    height: 30px;
    top: 20px;
    background-color: lightskyblue;
    color: white;
    border: 0px;
}

button.like{
    margin-top: 5px;
    background-color: rgb(192, 57, 43);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    width: 60px;
    height: 25px;
    border-radius: 3px 3px;
    cursor: pointer;
    margin-right: 10px;
    /* margin-left: 150px; */
}
button.ticketing{
    margin-top: 5px;
    background-color: #35256B;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 3px 3px;
    cursor: pointer;
}

/*더보기 버튼*/
div#btn-more-container {min-height: 150px; margin: 0 auto;

}
div#btn-more-container button#btn-more{position:absolute; top: 70px; float:left; left:50%; 

}

#btn-more{
border: 1px solid #35256B; 
background-color: #35256B; 
border-radius: 3px;
padding:5px;
color: white; 
	
}

#btn-more:hover{ 
    color:#white; 
    border: 1px solid black;
    background-color: 
    black; 
}


/* 영화 메뉴라인 */
*{margin: 0; padding: 0;}
/* div#movieView{margin-top: 150px;}
div#menuLine{border-bottom: 3.3px solid #35256B; height: 40px;}
ul#movieMenu{text-align: center;position: relative; top: 10px;}
ul#movieMenu li{list-style: none; display: inline-block; padding: 0 100px;}
ul#movieMenu li a{float: left;text-decoration: none; color: rgb(87, 85, 85); font-weight: bold;}
ul#movieMenu a:hover{color: #35256B;}
ul#movieMenu #m4{color: #35256B;} */
/* 영화 메뉴라인 끝 */

/* 영화찾기내용 */
section#content-movieFinder {width: 1400px; min-height: 1500px; margin: 0 auto;}
div#finderContent{width:1300px; margin: 0 auto; padding: 50px; margin-top: 50px;}
div#bar{display: inline-block; background: rgb(158, 158, 158); width: 7px; height: 45px; margin-left: 70px;} 
div#bar_title{display: inline-block; margin-left: 18px; font-size: 30px; font-weight: bold; position: relative; top: -10px;}
div#finderBox{width: 1000px; height: 500px; background: rgb(65, 46, 131); border-radius: 10px 10px; margin: 0 auto; margin-top: 50px;}
.underline{border-bottom: 1px solid gray;}
#finder_form{margin-left: 70px; position: relative; top: 50px;}
th{font-size: 20px; color: white; width: 200px;}
td{font-size: 20px; color: white; padding-left: 50px; width: 600px; padding-top: 30px; padding-bottom: 30px;}
li{list-style: none;}
label{display: inline-block; width: 130px;}
input[type=checkbox]{width: 17px; height: 17px; margin-right: 5px;}
select{border-radius: 3px 3px; font-size: 17px; height: 35px;}
input[type=text]{height: 27px; border-radius: 5px 5px; font-size: 15px;}
#search_text{position: relative; top: 5px; width: 300px; margin-left: 10px;}
input#btn-submit{margin-right: 10px; margin-left: 330px;}
input#btn-submit{width: 100px; height: 45px; font-size: 20px; border-radius: 3px 3px; border: 0; background: gray; color: white; font-weight: bold;}
button#btn-reset{width: 100px; height: 45px; font-size: 20px; border-radius: 3px 3px; border: 0; font-weight: bold;}
div.submit{margin-top: 50px;}

/* 영화등록 부분 */
/* form{
max-width:620px;
border:1px solid lightgray;
border-radius:10px;
top:30px;
left:250px;
padding:50px;

}
.input-group-prepend span{
top:-1px;
left: 0px;
border:1px solid gray;
background-color:lightgray;
padding: 10px;	
border-radius: 3px;
}

#movieCode{
	top:-28px;
	left:110px;
	width:470px;
	height:25px;
}

#movieTitle{
top:-28px;
	left:110px;
	width:470px;
	height:25px;
}

#director{
	top:-30px;
left:110px;
width:470px;
height:26px;
}
#actor{
	top:-30px;
left:110px;
width:470px;
height:26px;
}

#runningTime{
	
	top:-30px;
left:110px;
width:470px;
height:26px;
}

#releaseDate{
	top:-30px;
left:110px;
width:200px;
height:26px;
}

#description{
top:-30px;
left:-25px;
width:470px;
height:300px;	
	
}
#movieVideo{
top:10px;
left:-25px;
width:470px;
height:100px;
}

.form-control-file{
	top:-15px;
left:-25px;
}
#chk{
	left:120px;
}
#schedule1{
	left:-15px;
	
}
#schedule2{
	left:-105px;
}
#y{
	left:-15px;
}
#n{
left:-105px;
} */
#btn-add-movie{
top:10px;
left:270px; 
}
/* label+[for=releaseDate]{
	top:-30px;
left:90px;
width:470px;
height:26px;
} */
/* 결과가져오기 */
div#resultArea{width: 1300px; margin: 0 auto;}
hr#hr{width:1000px; margin-left: 150px; margin-top: 60px; height: 1px; background: lightgray;}
div#resultDiv{width:1000px; margin: 0px auto; text-align: center;
              font-size: 27px; font-weight: bold;}
span#resultSpan{color: rgb(142, 68, 173);}
/* div.moviePoster{margin-top: 50px; display: inline-block; position: relative;} */
img.poster{width: 200px; margin-top: 10px; margin-left: 60px; margin-bottom: 10px;/* position: relative; */}
img.poster:hover{filter: brightness(50%); cursor: pointer;}
.title, .ticketing_rate, .date, .grade, .like{margin-left: 70px; margin-bottom: 2px;}

.movieRating{width: 30px;}
.title{font-weight: bold; font-size: 20px;}
button.like{
    margin-top: 5px;
    background-color: rgb(192, 57, 43);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    width: 60px;
    height: 25px;
    border-radius: 3px 3px;
    cursor: pointer;
    /* margin-left: 150px; */
}
button.ticketing{
    margin-top: 5px;
    background-color: #35256B;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0px;
    width: 80px;
    height: 25px;
    border-radius: 3px 3px;
    cursor: pointer;
}
 /* 영화찾기내용 끝*/
 
 div#add {
	width: 70px;
}


/* 현재상영작 */
section#content-movieNow {
	min-height: 500px;
	width: 1400px;
	margin: 0 auto;
}



/*하은추가내용0106 21시  */

button#btn-addDeleteMovieNow{
	border: 1px solid #35256B; 
background-color: #35256B; 
border-radius: 3px;
color: white; 
top:-43px;
left:1200px;
width:175px;
height:35px;
font-size:12px;
	
}



button#btn-addDeleteMovieNow:hover{ 
    color:#white; 
    border: 1px solid black;
    background-color: 
    black; 
}


