/* mypage header */


/*0104하은추가 개인정보조회   여기서부터 시작 */

div#enrollFrm {
    width: 100%;
    margin: auto;
    padding-top:100px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_border_left{
    border-left: 5px solid #35256b;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent:10px
    
}
#p_border_gender { 
border-left: 5px solid #35256b;
 margin-top: -30px;
    margin-bottom: 10px;
    text-indent:10px;
    overflow: hidden;
}
#p_border{
border-bottom:1px solid #35256b;
width: 230px; 
margin-top:-30px;
margin-bottom: 15px;
}

select#emailAdd {
    margin-top:-10px;
    width: 100px;
    height: 32px;
}


form [type=text]#lastName{
    width: 110px;
}

form [type=text]#firstName{
    width: 175px;
}
#lastName{
text-indent:10px;
}
#firstName{
text-indent:10px;
width: 30px;	
}
#memberId{
text-indent:10px;
background-color: lightgray;		
}
#email{
	text-indent:10px;		
}
div.form-check form-check-inline {
	display:block;
    margin-left: 50px; 
    padding-left : 10px;
    left: 10px;
    padding-left: 10px;
}

form#enrollForm [type=submit]#edit{
	  border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    margin-top:15px;
    margin-left:-1px;
    width:75px;
    height:35px;
    font-size:12px;	
}

form#enrollForm [type=submit]#edit:hover{
  color:#white; 
  background-color: black; 
  }
  
form#enrollForm [type=reset]#rset{
	border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    margin-top:15px;
    margin-left:-1px;
    width:75px;
    height:35px;
    font-size:12px;
}
form#enrollForm [type=reset]#rset:hover{
 color:#white; 
  background-color: black; 
  }
  
form#enrollForm [type=button]{
	border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
    margin-top:15px;
    margin-left:-1px;
    width:75px;
    height:35px;
    font-size:12px;
}

form#enrollForm [type=button]:hover{
 color:#white; 
  background-color: black; 
  }

form#enrollForm [type=button]#pwd{
/* 	margin-top:20px; */
    border: 1px solid #35256b; 
    background-color: #261049; 
    color: white; 
 /*    padding: 5px;  */
    margin-left:-1px;
    margin-top:-20px;
    width:230px;
    height:35px;
    font-size:12px;
	
}

form#enrollForm [type=button]#pwd:hover{ 
    color:#white; 
    background-color: black; }
    
/*0104하은추가 개인정보조회  끝 -----------*/
    
    
    
    
    .section-mypage-top {
        width: 100%;
        height: 250px;
        background: #0a0a0a;
    }
    .mypage-top-left{
        padding-top: 85px;
        float: left;
        padding-left: 120px;
        color: #fff;
        letter-spacing: -.05em;
    }
    .mypage-top-left .mypage-id {
    display: block;
    font-size: 42px;
    line-height: 1em;
    padding-top: 5px;
    }
    .mypage-top-left .mypage-id>span{
        font-weight: 400;
        opacity: .6;
        padding-left: 10px;
    }
    .mypoint{
        color: white;
        padding-top: 20px;
    }
    .mypoint p{
        display: inline-block;
    }
    .mypoint a.small {
        display: inline-block;
        border: 1px solid #fff;
        font-size: 13px;
        opacity: .4;
        -webkit-filter: alpah(opacity=40);
        filter: alpah(opacity=40);
        line-height: 22px;
        padding: 0 7px;
        vertical-align: middle;
        margin-left: 8px;
        color: gray;
    }
    .inner-wrap {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .page-mytving .sub-contents-wrap {
        padding: 20px 0 50px;
        width: 1200px;
        margin: auto 0;
    }

   .tab_type01 {
        border-bottom: 1px solid #383838;
        line-height: 3.8125rem;
        text-align: center;
    }
     .tab_type01 ul {
        list-style-type: none;
    }
     .tab_type01 li {
        display: inline-block;
        text-align: -webkit-match-parent;
    }
    .tab_type01 li>a {
        display: block;
        padding: 0 .625rem;
        color: #4d4747;
        font-weight: 300;
    }
    .tab_type01 li, .tab_type01 li>a {
        font-size: 1rem;
        position: relative;
    }
    
    .tab_type01 a {
        color: rgb(3, 1, 1);
        text-decoration: none;
    }


/* mypage body */
section#content-mypage {
	min-height: 500px;
}
.inner-wrap {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

tab_type02 
 	
 	   .tab_type02  ul {
	list-style-type: none;
}

.tab_type02  li {
	display: inline-block;
	text-align: -webkit-match-parent;
}

a {
	color: rgb(3, 1, 1);
	text-decoration: none;
}

.tab-second-block {
	margin: 35px 0 17px;
	min-height: 26px;
	position: relative;
	border-bottom: 1px solid black;
}

.tab_type02 {
	line-height: 1em;
	position: relative;
	z-index: 10;
	display: inline-block;
}

table {
	width: 100%;
}

table, th, td {
	border: 1px solid #bcbcbc;
}

#srch {
	top:5px;
	height: 18px;
	
}


div#pageBar{
	
	 padding-top:15px; 
    text-align:center;
	/* margin-top: 10px;
	text-align: center;
}
 
 div#pageBar a{
   padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:1px; 
 }
 
div#pageBar span.cPage{
	color: black;
	padding-left:5px;
    padding-top:1px; 
    padding-right:5px;
    padding-bottom:1px;
    border: 1px solid lightgray;
    border-radius:3px;
    display: inline-block;
    MARGIN:1px; 
}

div#pageBar a{
	margin-right: 10px;
}



