html *{
margin: 0%;
position: relative;
}

html header body footer{
width: 1440px;
}

/*---------고정헤더 --------*/
.top_util{
background-color:#35256b;
position:fixed;
width:100%;
top:0;
left:0;
z-index: 2;
}

/*하은수정*/
/*------고정헤더 왼쪽 상단 PIXAR LOGO-------*/
.top_util span {
display: inline-block;
color: white;
padding-top: 4px;
padding-left: 10px;
font-size: 11px;

}

/*-----고정헤더 다른 페이지 이동시 PIXAR LOGO------  */
.top_util span a{
display: inline-block;
color: white;

}

/*고정헤더 오른쪽 상단*/
ul.nav{
float: right;
list-style:none;
margin: auto;
width:28%;
}
ul.nav li{
float:left;
}
ul.nav li a{    
line-height:25px;
color:rgb(255, 255, 255);
padding:0 15px;
text-decoration: none;
font-size: 10px;
}
/* -----------고정헤더 끝!----------- */
               
/* -----------두번째헤더시작 -----------*/
.sec_haed{
width: 100%;
position: relative;
width:100%;
top:0;
left:0;
background-color:#261049;
padding-top:5%;
padding-bottom: 10%;
}
ul.nav-sec{
text-align: center;
padding-left: 80px;
z-index: 1!important;
}
ul.nav-sec li{
display: inline-block;
}
ul.nav-sec li a{
color:rgb(255, 255, 255);
padding:0px 20px;

font-family: 'Do Hyeon', sans-serif;
text-decoration: none;
font-size: 18px;
text-shadow: 1px 1px 3px  rgb(2, 2, 2); 
/* line-height:15px; */
}

/* 로고*/
.sec_haed span a{
display: inline-block;
/*로고위치*/
padding-left: 25%;
transform:translateY(75%);
font-size: 42px;
color: white;
text-decoration: none; 
/*폰트추가  */
font-family: 'Anton', sans-serif;
}
    

/*하은수정*/
/* body>section#content */
section#content-index {
	min-height: 500px;
	/*슬라이드 고정헤더2와 겹치기*/
	margin-top: -65px;
	margin-bottom: 50px;
}    
    
/* 본문시작 */
div.container{
    min-height: 700px;
    margin-bottom: -150px;
}
div.container_{
display:none;
}

/* 슬라이드1 */
.carousel-indicators-numbers_ {
            li {
              text-indent: 0;
              margin: 0 2px;
              width: 30px;
              height: 30px;
              border: none;
              border-radius: 100%;
              line-height: 30px;
              color: #fff;
              background-color: #999;
              transition: all 0.25s ease;
              &.active, &:hover {
                margin: 0 2px;
                width: 30px;
/*                 height: 30px; */
                background-color: #337ab7;        
              }
            }
        }

 .carousel-inner img{
border: 3x solid;
border-radius: 10px;
-moz-border-radius: 10px;
-khtml-border-radius: 10px;
-webkit-border-radius: 10px;
cursor: pointer;
/* box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.514); */
/* box-shadow: 2px; */
/* position: absolute; top: 100%; left: 100%; */
}

.carousel-inner img#coco{
width:930px;
height:530px;
}

.carousel-inner img#meri{
	width:930px;
height:530px;
	
}

.carousel-inner img#dori{
width:930px;
height:530px;
}
.deco{
border: .4px rgb(189, 189, 189) solid;
position: relative;
top:-16%;
margin:50px;
}

/*슬라이드2 여기서부터 추가 수정  */
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
div.well{
  /* 부트스트랩 기본 제공 전체 박스 컬러 흰색으로 변경 */
  background-color: white;
  /* 부트스트랩 기본 제공 전체 보더 스타일 삭제*/
  border-style:none ;
}
.carousel {
    margin-bottom: 0;
    /* 슬라이드 전체 박스 사이즈 */
	padding: 0 120px 50px 120px;
}
/* Reposition the controls slightly */
.carousel-control {
/* 슬라이드 왼쪽쪽 화살표버튼 위치*/
	left: -12px;
}
.carousel-control.right {
    /* 슬라이드 오른쪽 화살표버튼 위치*/
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
    bottom: 0px;
    /* 슬라이드 버튼 위치 */
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    /* 슬라이드 아래 버튼색깔 */
	background: #9f9aa1;
}
.carousel-indicators .active {
    /* 슬라이드 아래 버튼 색깔2 */
background: #3b2642;
}

div.row{
display: inline-block;
padding-left: 10%;
transform:translateY(8%);
color: white;
text-decoration: none;

}
/*추가수정끝  */

.deco2{
	border: .5px rgb(189, 189, 189) solid;
	position: relative;
	top:10%;
	z-index: 1 !important;
	margin:50px;
}


/* event slider */
.con_all{
display: inline-block;
padding-left: 10%;
transform:translateY(8%);
color: white;
text-decoration: none;

	
}
.con_fig{
padding-left: 210px;
padding-top: 0px;
min-height: 100px;
        }
.con_fig .con_event {
/* color:#261049; */
position: absolute;
color:#6237a7;
transform: translateX(-140%);
display: block;
}
/*하은 이벤트 버튼 부분수정  */
.con_fig .con_event button {
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid #35256b; 
	background-color: #261049; 
	color: white; 
	padding: 5px; 
	font-size:12px;
}
/*하은 추가:이벤트버튼  */
.con_fig .con_event button:hover{ 
	color:#261049; 
	background-color: 
	white; }
.con_fig .con_event span{
    /* z-index: 1; */
    /* display: block; */
    width: 0px;
    height: 100px;
    border: 2px solid ;
    color: #180a30;
}

/* event banner */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1283 {
	font-family: 'Raleway', Arial, sans-serif;
	color: #fff;
	overflow: hidden;
	float: left;
	margin: 10px;
	min-width:80px;
	max-width: 195px;
	max-height: 100px;
	width: 100%;
	color: #ffffff;
	text-align: left;
	background-color: #07090c;
	font-size: 9px;
	-webkit-perspective: 50em;
	perspective: 50em;
}

/*하은수정 추가*/
figure{
	padding-left:100px;	
}

/*하은수정추가 아래부분 전체 복붙해주세요--시작 */
figure.snip1283 * {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
         }
         
        figure.snip1283 img {
          opacity: 1;
          width: 100%;
          -webkit-transform-origin: 50% 0%;
          -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  
        }
        
        figure.snip1283 figcaption {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
          -webkit-transform-origin: 50% 100%;
          -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          z-index: 1;
          opacity: 0;
          padding: 20px 30px;
        }
        figure.snip1283 h3,figure.snip1283 p {
        
          line-height: 1.6em;
        }
        figure.snip1283 h3 {
      
          margin: 0;
          font-weight: 10;
          text-transform: uppercase;
        }
        figure.snip1283 p {
          font-size: 1.1em;
          font-weight: 100;
          margin: 0 0 15px;
        }
      /*   figure.snip1283 .read-more {
          border: 2px solid #ffffff;
          padding: 0.5em 1em;
          font-size: 0.2em;
          text-decoration: none;
          color: #ffffff;
          display: inline-block;
        } */
        
        /* figure.snip1283 .read-more:hover {
          background-color: #ffffff;
          color: #000000;
        } */
    
        figure.snip1283:hover img,
        figure.snip1283.hover img {
          -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
          opacity: 0;
        }
        figure.snip1283:hover figcaption,
        figure.snip1283.hover figcaption {
          -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
          opacity: 1;
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
        }
        /*하은수정추가 아래부분 전체 복붙해주세요--끝 */
        
/* footer */

.foot{
	width:100%;
    background-color: rgba(194, 194, 194, 0.24);
    min-height: 200px;
    padding-top: 1%;
    margin-top: 50px;
    left:0;
    font-size: 7px;
    
}
.foot a{
    /* a留곹겕 諛묒쨪 �젣嫄� */
    text-decoration: none;
}
.foot ul.div-bottomfoot{
    text-align: center;
    line-height:50px;
    color:rgb(255, 255, 255);
    list-style: none;
}
    
.foot ul li{
    display: inline-block;
}

/*하은수정 */
.foot ul li a{
font-family: 'Nanum Gothic Coding', monospace;
    /* line-height:15px; */
    color:rgb(129, 129, 129);
    padding:0 2px;
    font-size: 10px;
}



.foot #infoFoot{
    color:rgb(129, 129, 129);
    text-align: center;
}

/*하은 수정*/
.foot #infoFoot span{	
    padding: 0px 5px 2px 10px;
}

/*하은 수정*/
.foot h3{
    font-size: 18px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/*하은수정  */
div.end_foot{
    /* z-index: 1; */
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: rgb(160, 160, 160);
    color: rgba(212, 208, 208, 0.856);
    text-align: center;
    font-size:12px
}


S
